.form__close-image {
  position: fixed;
  width: 32px;
  height: 32px;
  top: calc(50% - 205px);
  right: calc(50% - 255px);
}

@media screen and (max-width: 620px) {
  .form__close-image {
    width: 20px;
    height: 20px;
    top: calc(50% - 194px);
    right: calc(50% - 142px);
  }
}
