.profile__edit-button {
  background-color: #000;
  border: 1px solid #fff;
  max-width: 24px;
  max-height: 24px;
  margin-left: 18px;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
    margin-left: 10px;
  }
}
