.form__button {
  font-size: 18px;
  line-height: 1.22;
  border: 0;
  padding: 13px;
  width: calc(100% - 72px);
  margin: 33.34px 36px 36.51px;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  transition: opacity .2s ease;
  cursor: pointer;
}

.form__button:hover {
  opacity: .8;
}

.form__button:disabled {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
  opacity: .2;
  cursor: default;
}

@media screen and (max-width: 620px) {
  .form__button {
    width: calc(100% - 44px);
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 1.2;
  }
}
