.elements {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(3, minmax(min-content, max-content));/*repeat (auto-fit, minmax(282px, 1fr)*/
  gap: 20px 17px;
  margin: 50px auto 66px;
}

.place {
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-rows: minmax(min-content, max-content) 80px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  align-items: center;
  justify-content: space-between;
}

.place__image {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
