.card__delete-button {
  background-image: url('../../../images/Trash_vector.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 20px;
}

.card__delete-button:disabled {
  visibility: hidden;
}
