.form__input-container {
  border: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 358px;
  height: 101px;
}

@media screen and (max-width: 620px) {
  .form__input-container {
    max-width: calc(100% - 44px);
  }
}
