.form__close {
  position: absolute;
  background-image: url('../../../images/close_form_vector.svg');
  background-position: center;
  background-size: cover;
  background-color: #0000;
  border: none;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .form__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
